# Hide everything in this directory by default.
*

# Keep this file.
!.gitignore
# Keep documentation.
!*.md
# Keep encryption/decryption scripts.
!decrypt.sh
!encrypt.sh
# Keep all encrypted files.
!*.gpg

# Miscellaneous.
# Keep the default/fake secret properties.
!secret.default.properties
